/* ===== YOUR CSS GOES HERE ===== */

            /* CSS Reset*/
@import url(“https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap”);
:root {
   --color-primary: #FBF5D1;
    --color-primary-alt: #FFD622;
    --color-secondary:#58A2E8;
    --color-background: #FFFCF9;
    --color-text: #353943;
    --color-accent: #F44D10;
    --font-Display: "Space Grotesk";
    --font-subtitle: "Inter";
    --font-body: "Playfair Display";
    --font-weight-strong: 500;
    --font-size-h1: 6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.35rem;
    --font-size-text: 1.15rem;
    --border-radius: 8px;
 }

 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}
/* Make images easier to work with*/

img{
    max-width:100%;
    display:block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

        /* Styles*/


/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
    font-size: var(--font-size-h1);
    font-size: clamp(2rem, 7vw, var(--font-size-h1));
  }
  
  h2 {
    font-size: var(--font-size-h2);
    font-size: clamp(2rem, 4vw, var(--font-size-h2));
  }
  
  h3 {
    font-size: var(--font-size-h3);
  }
  
  h4 {
    font-size: var(--font-size-h4);
  }
  
  p,
  li {
    font-size: var(--font-size-text);
  }
  
  p {
    margin: 0 0 1rem;
  }

  /* MEDIA QUERIES*/

       /* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }